/* ----- General configuration ----- */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
    width: 100%;
    overflow-x: hidden;
}
body{
    width: 100vw;
    overflow-y: auto;
}
header{
    width: 100%;
    display: flex;
    padding: 2% 2%; 
}
/* Header styles */
.info{
    width: 50%;
}
.links{
    text-align: center;
    font-size: 140%;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
}
.social{
    width: 29%;
    display: flex;
}
.links-ico{
    padding-left: 4%;
    padding-right: 4%;
}
.links-ico img{
    width:180%;
}

/* ----- Main Styles ----- */
/* Intro styles */
section{
    width: 100%;
    padding: 50px 10px;
}
#intro{
    text-align: center;
    line-height: 200%;
    font-size: 200%;
}
/* About styles */
#about{
    text-align: center;
    font-size: 150%;
    line-height: 200%;
}
.title{
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
}
/* Skills styles */

.skills{
    width: 100%;
    display: flex;
    height: auto;
    padding: 0 20%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skills img{
    width: 220px;
    padding: 7% 5%;
}
/* Projects styles */
.description{
    width: 20%;
}
.p-img img{
    width: 100px;
}


@media screen and (max-width:1023px){
    header{
        flex-direction: column;
        padding-top: 2%;
    }
    .info{
        width: 100%;
        text-align: center;
    }
    .social{
        width: 100%;
        justify-content: center;
        padding-bottom: 2%;
    }
    .links{
        font-size: 200%;
    }
    .links-ico img{
        width: 280%;
    }
    .links-ico{
        padding-left: 6%;
        padding-right: 6%;
    }
}

@media screen and (max-width:540px){
    
    .social{
        width: 100%;
    }
    .links{
        line-height: 30px;
        font-size: 110%;
    }
}

@media screen and (max-height:480px){
    
}